html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #faf3f3;
  user-select: none;
}

.container {
  width: 62%;
  margin: 0 auto 0;
  background-color: #fff;
  border-radius: 1.6rem;
}

a {
  text-decoration: none;
}

.header.fixed {
  position: fixed;
  top: -60px;
  left: 0;
  background-color: white;
  z-index: 999;
  width: 100%;
}

.header.slide-down {
  top: 0;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: flex;
  padding: 1.2rem 3.2rem;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  background-color: transparent;
  transition: all 0.3s ease;
}
.header .header__left {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .header__left .header__left-btn {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__left .header__left-btn:hover {
  background-color: #f1eaea;
}
.header .header__left .header__left-modal-box {
  display: flex;
}
.header .header__left .header__left-sub-modal {
  display: none;
}
.header .header__left .header__left-sub-modal-link {
  color: #595959;
  padding: 1.2rem 1.4rem;
  display: inline-block;
  width: 24rem;
}
.header .header__left .header__left-sub-modal-link:hover {
  background-color: #eee;
}
.header .header__left .header__left-modal-item.hover {
  background-color: #eee;
}
.header .header__left .header__left-modal-list {
  border-right: 1px solid #eee;
}
.header .header__left .header__left-sub-modal.open {
  display: block;
}
.header .header__left .header__left-modal {
  display: none;
  border-radius: 1rem;
  border: 3px solid #ece8e8;
  position: absolute;
  z-index: 4;
  top: 5.7rem;
  left: 0;
  background-color: #fff;
}
.header .header__left .header__left-modal .header__left-modal-title {
  color: #000;
  font-weight: bold;
  padding: 1.2rem 1.4rem;
  border-bottom: 1px solid #eee;
}
.header .header__left .header__left-modal .header__left-modal-link {
  color: #595959;
  padding: 1.2rem 1.4rem;
  display: inline-block;
  width: 24rem;
}
.header .header__left .header__left-modal.open {
  display: block;
}
.header .header__left .header__left-img {
  width: 10rem;
  height: 100%;
  padding: 0.8rem 1.4rem;
  background-color: #fff;
  border-radius: 2.4rem;
}
.header .navbar.navbarNone {
  display: none;
}
.header .navbar__list {
  display: flex;
  gap: 2rem;
}
.header .navbar__list .navbar__item-link {
  color: #9c9494;
  font-size: 1.4rem;
  font-weight: 600;
}
.header .navbar__list .navbar__item-link:hover {
  color: #222222;
}
.header .header__input.header__input-block {
  display: block;
}
.header .header__input {
  display: none;
  flex: 1;
  position: relative;
}
.header .header__input .icon-1 {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
.header .header__input .icon-1 i {
  color: #ccc;
}
.header .header__input .close {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .header__input .icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffd400;
}
.header .header__input .icon i {
  color: #000;
  font-size: 1.2rem;
}
.header .header__input .header__inp {
  border-radius: 999px;
  width: 100%;
  padding: 1.2rem 3.6rem;
  background-color: #eee;
  border: none;
  outline: none;
}
.header .header__right {
  display: flex;
  gap: 1rem;
}
.header .header__right .header__action {
  display: flex;
  gap: 1rem;
}
.header .header__right .header__action .header__action-item {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}
.header .header__right .header__action .header__action-item i {
  font-size: 2.4rem;
}
.header .header__right .header__action .header__action-item:hover {
  background-color: #eee;
}
.header .header__action-btn {
  display: flex;
  gap: 1rem;
}
.header .header__action-btn .header__login {
  background-color: #fff;
  border-radius: 2.4rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
}
.header .header__action-btn .header__login.custom {
  border: 1px solid #eee;
}
.header .header__action-btn .header__up {
  background-color: #000;
  border-radius: 2.4rem;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
}
.header .header__action-btn .header__up.custom__up {
  background-color: #ffd400;
  color: #000;
}
.header .header__action-btn .header__user {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #fff;
  border-radius: 2.4rem;
  color: #000;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem;
}
.header .header__action-btn .header__user.custom__user {
  border: 1px solid #eee;
}

.header__left-title {
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
}
.header__left-title .fa-angle-down {
  margin-left: 1.2rem;
}
.header__left-title:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.header__left-title .header__left-title-modal {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: none;
  position: absolute;
  top: 5rem;
  left: -1rem;
  background-color: #fff;
  border-radius: 1.8rem;
  min-width: 25rem;
  overflow: hidden;
}
.header__left-title .header__left-title-modal .header__left-title-modal-link {
  padding: 1.8rem 1.2rem;
  font-size: 1.4rem;
  color: #222222;
  display: block;
  cursor: pointer;
}
.header__left-title .header__left-title-modal .header__left-title-modal-link:hover {
  background-color: #eee;
}
.header__left-title .header__left-title-modal.show {
  display: block;
}

.header__left-title.none {
  display: none;
}

.header__address {
  display: none;
  gap: 1rem;
  align-items: center;
  background-color: #eee;
  border-radius: 999px;
  padding: 1rem 2.4rem;
  font-weight: bold;
}
.header__address .fa-location-dot {
  color: #ffd400;
}
.header__address .fa-sort-down {
  margin-bottom: 0.6rem;
}

.header__left-title.hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.header__address.block {
  display: flex;
}

.banner {
  position: relative;
  background-image: url("../img/f22189d121c21189410279fcf9696c38-2941305024038426223.jpg"), linear-gradient(180deg, #ffba01, #ffe62f);
  height: 23vh;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  z-index: 3;
}
.banner .banner__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3.2rem;
}
.banner .banner__form {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2.4rem;
  padding: 1.2rem 4.8rem;
  left: 50%;
  gap: 1rem;
  z-index: 3;
  transition: all 0.3s linear;
}
.banner .banner__form:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
.banner .banner__form-category-modal {
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  display: none;
  max-height: 48rem;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 7rem;
  background-color: #fff;
  z-index: 3;
}
.banner .banner__form-category-modal .banner__form-category-modal-item {
  padding: 1.8rem 1.2rem;
  min-width: 25rem;
}
.banner .banner__form-category-modal .banner__form-category-modal-item:hover {
  background-color: #eee;
}
.banner .banner__form-category-modal .banner__form-category-modal-item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.banner .banner__form-category-modal .banner__form-category-modal-item label input[type=radio]:checked + .custom__radaio {
  background-color: #ffd400;
  border: 2px solid #ffd400;
}
.banner .banner__form-category-modal .banner__form-category-modal-item label input[type=radio]:checked + .custom__radaio .fa-check {
  opacity: 1;
}
.banner .banner__form-category-modal .banner__form-category-modal-item label input[type=radio] {
  opacity: 0;
  cursor: pointer;
}
.banner .banner__form-category-modal .banner__form-category-modal-item .custom__radaio {
  border: 2px solid #ccc;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner__form-category-modal .banner__form-category-modal-item .custom__radaio:hover {
  border: 2px solid #000;
}
.banner .banner__form-category-modal .banner__form-category-modal-item .custom__radaio .fa-check {
  opacity: 0;
}
.banner .banner__form-category-modal.show {
  display: block;
}
.banner .banner__form-category {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 2.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-right: 1px solid #e0d8d8;
  font-weight: bold;
}
.banner .banner__form-category .fa-sort-down {
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
}
.banner .banner__input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.banner .banner__input .banner__form-inp {
  border: none;
  outline: none;
  padding-right: 20rem;
  color: 2.4rem;
}
.banner .banner__form-adress {
  cursor: pointer;
  display: flex;
  position: relative;
  gap: 1rem;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 1.2rem;
  padding: 1rem 2.4rem;
  font-weight: bold;
}
.banner .banner__form-adress:hover {
  background-color: #eee;
}
.banner .banner__form-adress .fa-location-dot {
  color: #ffe62f;
}
.banner .banner__form-adress .fa-sort-down {
  margin-bottom: 1.2rem;
}
.banner .banner__form-adress-modal {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  background-color: #fff;
  min-width: 35rem;
  border-radius: 1.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.banner .banner__form-adress-modal .banner__form-adress-modal-title {
  padding: 1.6rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address {
  padding: 2.4rem;
  border-bottom: 1px solid #eee;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-conscious {
  padding: 1.2rem 1.2rem;
  border: 2px solid #ccc;
  border-radius: 1.6rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-conscious:hover {
  border: 2px solid #000;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-conscious .banner__form-adress-modal-conscious-title {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-conscious .banner__form-adress-modal-conscious-desc {
  font-size: 1.4rem;
  font-weight: 300;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-district {
  padding: 1.2rem 1.2rem;
  border: 2px solid #ccc;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-district:hover {
  border: 2px solid #000;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-district .banner__form-adress-modal-district-title {
  font-size: 1.2rem;
  padding: 0.75rem 0;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-address .banner__form-adress-modal-district .banner__form-adress-modal-district-desc {
  font-size: 1.4rem;
  font-weight: 300;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-action {
  margin: 2.4rem;
  width: 86%;
  padding: 1.2rem 0;
  border-radius: 1.6rem;
  background-color: #ffd400;
  border: none;
  font-weight: bold;
}
.banner .banner__form-adress-modal .banner__form-adress-modal-action:hover {
  background-color: rgba(255, 213, 0, 0.4784313725);
}
.banner .banner__form-adress-sub-modal-district,
.banner .banner__form-adress-sub-modal-conscious {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  min-width: 35rem;
  border-radius: 1.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 40rem;
}
.banner .banner__form-adress-sub-modal-district .fa-arrow-left,
.banner .banner__form-adress-sub-modal-conscious .fa-arrow-left {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-container-list,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-container-list,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-container-list,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-container-list {
  max-height: 25rem;
  overflow-y: scroll;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-container-list::-webkit-scrollbar,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-container-list::-webkit-scrollbar,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-container-list::-webkit-scrollbar,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-container-list::-webkit-scrollbar {
  display: none;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-container-list,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-container-list,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-container-list,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-container-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-title,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-title,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-title,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-title {
  padding: 1.6rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-input,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-input,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-input,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-input {
  padding: 1.2rem;
  position: relative;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-input .fa-magnifying-glass,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-input .fa-magnifying-glass,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-input .fa-magnifying-glass,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-input .fa-magnifying-glass {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #ccc;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-input .banner__form-adress-sub-modal-district-inp,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-input .banner__form-adress-sub-modal-conscious-inp,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-input .banner__form-adress-sub-modal-district-inp,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-input .banner__form-adress-sub-modal-conscious-inp,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-input .banner__form-adress-sub-modal-district-inp,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-input .banner__form-adress-sub-modal-conscious-inp,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-input .banner__form-adress-sub-modal-district-inp,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-input .banner__form-adress-sub-modal-conscious-inp {
  width: 100%;
  padding: 1.2rem 3.2rem;
  border-radius: 999px;
  border: none;
  outline: none;
  background-color: #eee;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item {
  padding: 1.6rem;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item label,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item label,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item label,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item label input[type=radio]:checked + .custom__radaio,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item label input[type=radio]:checked + .custom__radaio,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item label input[type=radio]:checked + .custom__radaio,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item label input[type=radio]:checked + .custom__radaio {
  background-color: #ffd400;
  border: 2px solid #ffd400;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item label input[type=radio]:checked + .custom__radaio .fa-check,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item label input[type=radio]:checked + .custom__radaio .fa-check,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item label input[type=radio]:checked + .custom__radaio .fa-check,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item label input[type=radio]:checked + .custom__radaio .fa-check {
  opacity: 1;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item label input[type=radio],
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item label input[type=radio],
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item label input[type=radio],
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item label input[type=radio] {
  opacity: 0;
  cursor: pointer;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item .custom__radaio,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item .custom__radaio,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item .custom__radaio,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item .custom__radaio {
  border: 2px solid #ccc;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item .custom__radaio:hover,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item .custom__radaio:hover,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item .custom__radaio:hover,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item .custom__radaio:hover {
  border: 2px solid #000;
}
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-district-item .custom__radaio .fa-check,
.banner .banner__form-adress-sub-modal-district .banner__form-adress-sub-modal-conscious-item .custom__radaio .fa-check,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-district-item .custom__radaio .fa-check,
.banner .banner__form-adress-sub-modal-conscious .banner__form-adress-sub-modal-conscious-item .custom__radaio .fa-check {
  opacity: 0;
}
.banner .banner__form-search {
  border-radius: 1.2rem;
  padding: 1.6rem 3.2rem;
  background-color: #ffe62f;
  color: #000;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
}

.options {
  margin-top: 4.8rem;
}
.options .option__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1.2rem;
}
.options .options__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 1rem;
}
.options .options__list {
  padding: 3.2rem;
}
.options .options__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
.options .option__img-wrap {
  width: 7rem;
}
.options .options__item:hover {
  transform: scale(1.05);
}

.options__item {
  transition: all 0.3s linear;
}

.option__bottom-list {
  display: flex;
  border-top: 1px solid #eee;
}
.option__bottom-list .option__bottom-item {
  flex: 1;
  text-align: center;
  max-width: 30rem;
  border-right: 1px solid #eee;
}
.option__bottom-list .option__bottom-item p {
  padding: 2.4rem 3.2rem;
}
.option__bottom-list .option__bottom-item.affter {
  border-right: none;
}

.products {
  margin-top: 1.2rem;
}

.products__list {
  padding: 1.8rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.products__list .products__item {
  position: relative;
  z-index: 0;
}
.products__list .products__item .fa-heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.1rem;
  color: #fff;
  z-index: 1;
}
.products__list .products__item .products__img {
  height: 21rem;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.products__list .products__item .products__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}
.products__list .products__item .products__image:hover {
  transform: scale(1.05);
}
.products__list .products__item .products__img-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  z-index: 0;
  color: #fff;
  display: flex;
  width: 100%;
  padding: 0.6rem 1rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.products__list .products__item .products__img-bottom:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.products__list .products__item .products__content {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
}
.products__list .products__item .products__content .products__adress-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__list .products__item .products__content .products__adress-options .fa-ellipsis-vertical {
  padding: 0 1.2rem;
  color: #000;
}
.products__list .products__item .products__content .products__desc {
  font-size: 1.4rem;
  color: #8a8888;
  margin-top: 0.5rem;
}
.products__list .products__item .products__content .products__price {
  font-size: 1.8rem;
  color: rgb(153, 16, 16);
  font-weight: bold;
  margin-top: 1.2rem;
}
.products__list .products__item .products__content .products__address {
  font-size: 1.4rem;
  color: #a1a1a1;
  margin-top: 0.5rem;
  margin-top: 1.2rem;
  display: block;
  line-height: 2rem;
}
.products__list .products__item .products__title {
  color: #000;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
}

.products__top {
  display: flex;
  gap: 2rem;
  padding: 3.2rem 2.4rem 1.8rem;
  position: sticky;
  top: 60px;
  background-color: #fff;
  z-index: 1;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;
}
.products__top .products__top-link {
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
}

.products__continute {
  margin: 2.4rem auto 0;
  text-align: center;
  width: 25rem;
  padding: 1.2rem 0;
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 999px;
  font-weight: bold;
}
.products__continute:hover {
  background-color: #eee;
}

.news .container {
  padding: 1.2rem;
}

.news {
  margin-top: 1.2rem;
}
.news .new__item {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #a09f9f;
  margin-bottom: 0.8rem;
}
.news .new__title {
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.new__action {
  padding: 1.2rem 2.4rem;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
  margin-top: 1.6rem;
  display: inline-block;
}
.new__action:hover {
  background-color: #eee;
}

.key .container {
  padding: 1.6rem;
}

.key {
  margin-top: 1.2em;
}

.key__title {
  color: #9b9898;
  font-weight: bold;
}

.key__lists {
  display: flex;
  gap: 17rem;
  margin-left: 1.4rem;
}
.key__lists .key__item {
  list-style-type: disc;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  color: #9b9898;
}

.banner-download {
  background: linear-gradient(180deg, #ffba01, #ffe62f);
  margin-top: 1.2rem;
}

.banner-content {
  margin: 0 auto;
  width: 62%;
  position: relative;
  background-image: url("../img/bg-uni-homepage.webp");
  height: 30vh;
  background-position: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.banner-content .banner-download__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
.banner-content .banner-download__content .banner-download__title {
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}
.banner-content .banner-download__content .banner-download__desc {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}
.banner-content .banner-download__action-link {
  width: 15rem;
  height: 5rem;
  display: inline-block;
}
.banner-content .banner-download__action-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 1.2rem;
}

.footer__lists {
  width: 62%;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
}

.footer__item-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222222;
  margin-bottom: 1.4rem;
}

.footer__item-action {
  display: flex;
  gap: 2rem;
}
.footer__item-action .footer__item-action-qr {
  width: 10rem;
}
.footer__item-action .footer__item-action-qr img {
  width: 100%;
  object-fit: cover;
}
.footer__item-action .footer__download {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__item-action .footer__download-item {
  width: 12rem;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.footer__item-action .footer__download-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__box {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  flex: 1;
}

.footer__item-link {
  color: #595959;
  font-weight: 400;
  line-height: 1.5;
}

.footer__item-link-last {
  width: 3rem;
  display: inline-block;
}
.footer__item-link-last img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__item {
  color: #595959;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.footer__list.last {
  width: 100%;
  max-width: 32rem;
}

.copyright {
  border-top: 1px solid #ccc;
  padding: 2.4rem 0;
}

.copyright__body {
  width: 62%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.copyright__body .copyright__text {
  font-size: 1.2rem;
  color: #595959;
  max-width: 85rem;
  margin-right: 3.2rem;
}
.copyright__body img {
  width: 15rem;
}

/*# sourceMappingURL=styles.css.map */
