// main.scss

// font
@import "../../public/font/fontawesome-free-6.5.1-web/css/all.min.css";

// reset.scss
@import "reset";
// 1. Abstracts (Variables, Mixins, etc.)
@import "abstract/variables";

// 2. Base styles and external imports
@import "layout/base";
@import "create.scss";
@import "details.scss"
