// layout/_base.scss

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  background-color: $color-light-background;
  user-select: none;
}

.container {
  width: $container-width;
  margin: 0 auto 0;
  background-color: $color-white;
  border-radius: 1.6rem;
}

a {
  text-decoration: none;
}
