// layout/_footer.scss

// =================== footer

.footer {
  margin-top: 1.2rem;
}

.footer__lists {
  width: $container-width;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
}

.footer__item-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222222;
  margin-bottom: 1.4rem;
}

.footer__item-action {
  display: flex;
  gap: 2rem;
}

.footer__item-action-qr {
  width: 10rem;
}

.footer__item-action-qr img {
  width: 100%;
  object-fit: cover;
}

.footer__download {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__download-item {
  width: 12rem;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.footer__download-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__box {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  flex: 1;
}

.footer__item-link {
  color: $color-gray-dark;
  font-weight: 400;
  line-height: 1.5;
}

.footer__item-link-last {
  width: 3rem;
  display: inline-block;
}

.footer__item-link-last img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__item {
  color: $color-gray-dark;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.footer__list.last {
  width: 100%;
  max-width: 32rem;
}

// =================== footer

.copyright {
  border-top: 1px solid #ccc;
  padding: 2.4rem 0;
}

.copyright__body {
  width: $container-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.copyright__body .copyright__text {
  font-size: 1.2rem;
  color: $color-gray-dark;
  max-width: 85rem;
  margin-right: 3.2rem;
}

.copyright__body img {
  width: 15rem;
}
