// abstract/_variables.scss

$font-primary: "Roboto", sans-serif;
$color-primary: #ffd400; // Yellow/Gold
$color-secondary: #000;
$color-light-background: #faf3f3;
$color-white: #fff;
$color-gray-dark: #595959;
$color-gray-light: #eee;
$container-width: 62%;
$header-height: 60px;
